body{
  width: 100%;

}

.header{
  width: 100%; 
}

.header-color{
  width: 100%;
  border-bottom-color: rgba(255,255,255,0.5);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  transform: translateZ(0);
  background-color: #FFF;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.33);
}
.navbar{
  position: relative;
  z-index: 1 !important;
  
}

.header-text{
  font-family: "Open Sans",sans-serif;
  color: #56260B;
  font-size: 16px;
  line-height: 1.5rem;
  text-align: left;
  display: flex;
  justify-content :space-around;
}
.header-text:hover{
  font-family: "Open Sans",sans-serif;
  color: #56260B;
  font-weight: bold;
  text-decoration:none;
  font-size: 17px;
  line-height: 1.5rem;
  text-align: left;
  display: flex;
  justify-content :space-around;
}

.header-nav{
  color: white;
  font-family: "Open Sans",sans-serif;
  text-align: right;
  
}

.header-buttons{
  display: flex;
  justify-content:flex-end;
  width: 100vw;
}

.header-logo{
  height: 60px;
  width: 60px;
}

.carousel-photo{
  width: 100% !important;
  height: auto;
}

/*Quitar fotos de abajo del carrusel */
#root > div > div.header > div > div:nth-child(2) > div > ul{
  display:none;
}


.cards{
  display: block,
}
.product-card{
  width: 30vw;
  text-align: left;
}

.product-photo{
  width: 30%;
  height: 30%;
}


.register-button{
    background-color: #4CAF50;
    padding: 10px 24px;
    border-radius: 4px;
    border: 2px solid #4CAF50;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.register-button:hover {
    background-color: white;
    color: #4CAF50;
}


.login-button{
  background-color: #4CAF50;
  padding: 10px 24px;
  border-radius: 4px;
  border: 2px solid #4CAF50;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.login-button:hover {
  background-color: white;
  color: #4CAF50;
}


.footer{
  display: grid;
  height:50%;
  background-color: rgb(86,38,11,1);
  color: white;

}

.firt-row{
  columns: 100px 3;
  text-align: center;

}
.second-row{
  font-family: "Open Sans",sans-serif;
  text-align: center;
  
}

.footer-title{
  font-family: "Open Sans",sans-serif;
  font-size:2vw;
}

.footer-text{
  font-family: "Open Sans",sans-serif;
  font-size:1vw;
}

.footer-logo{
  padding:30px;
  max-width: 30%;
  height: auto;
}

.footer-img{
  max-width: 5%;
  height: auto;
}