.App{
  background-color: #FBE4A1;
  width: 100%;
}

body{
  width: 100%;
  margin: auto;
}

.header{
  width: 100%;
  margin: auto; 
}

@media only screen and (max-width: 600px) {
  .header {
   width: 100%;
   height: auto;
  }
}

.homeWindows{
  width: 100%;
  margin: auto;
}
.header-color{
  width: 100%;
  border-bottom-color: #56260B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  transform: translateZ(0);
  background-color: #56260B;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.33);
}

.header-buttons{
  margin-top: 10px ;
  margin-right: 20px;
  align-items: right;
}
@media only screen and (max-width: 600px) {
  .header-buttons {
    
  }
}


.navbar{
  display: flex;
  align-items: row;
  z-index: 1 !important;
  align-items: right;
   
}


.nav-menu{
  display:flex;
  flex-direction: row;
  margin-right: 10px;  
}
@media only screen and (max-width: 600px) {
  .nav-menu {
   display: flex;
   flex-direction: column;

   
  }
}


.header-text{
  font-family: "Futura",sans-serif;
  color: white;
  font-size: 16px;
  line-height: 1.5rem;
  text-align: center;
  display: flex;
  justify-content :space-around;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .header-text {
    font-size: 3vw;
    margin: -5px 0 0 0;
   
  }
}


.header-text:hover{
  font-family: "Futura",sans-serif;
  color: white;
  font-weight: normal;
  text-decoration:none;
  font-size: 1.35vw;
  line-height: 1.5rem;
  text-align: left;
  display: flex;
  justify-content :space-around;
}

@media only screen and (max-width: 600px) {
  .header-text:hover{ 
    font-size: 3.5vw;
    text-decoration: underline
  } 

}

.header-nav{
  color: white;
  font-family: "Futura",sans-serif;
  text-align: right;
}

.header-buttons{
  display: flex;
  justify-content:flex-end;
  width: 100vw;
}

@media only screen and (max-width: 600px) {
  .header-buttons {
    margin-top: -5px;
  }
}


.logo-box{

}

@media only screen and (max-width: 600px) {
  .logo-box {
    align-items: center;
    margin-top:7.5%;
    margin-left:7.5%;
  }
}

.header-logo{
  height: 70px;
  width: auto;
  margin-top:10%;
  margin-bottom:20%;
  margin-left:40%;
}

@media only screen and (max-width: 600px) {
  .header-logo {
  }
}



.carousel-photo{
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 600px) {
  .carousel-photo{
    display: none;
    width: 100%;
    height: auto;
  }
}

/*Quitar fotos de abajo del carrusel */
#root > div > div.header > div > div:nth-child(2) > div > ul{
  display:none;
}


/*philosophy*/

.philosophy{
 width: 85%;
 margin: auto;
}
@media only screen and (max-width: 600px) {
  .philosophy {
    width: 90%;
    height: auto;
  }
}


.philosophy-block{
  columns: 100px 2;
  margin: 2vw 0;
  
}
@media only screen and (max-width: 600px) {
  .philosophy-block {
    display: flex;
    flex-wrap: wrap;
  }
}



.philosophy-second-column{
  text-align: center;
  padding-top: 5%;
}

@media only screen and (max-width: 600px) {
  .philosophy-second-column{
    text-align: center;
    padding: 0 0 0 0;
  }
}

.philosophy-first-column{
  display: block
}

.philosophy-column{
  columns: 100px 2;
}

@media only screen and (max-width: 600px) {
  .philosophy-column{
    columns: 50% 2;
  }
}


.philosophy-texts{
  margin:2vw 0 0 0;
}
@media only screen and (max-width: 600px) {
  .philosophy-texts{
    text-align: center;
    padding: 0 0 0 0;
    font-size: 16px;
  }
}

.our-philosophy-photo{
  max-width: 100%;
  height: auto;
  align-items: center;
  box-shadow: 0 10px 30px 0 rgba(49,52,57,.3),
}

.philosophy-title{

  display: block;
  font-family: "Futura",sans-serif;
  color: #56260B;
  font-size: 2vw;
  line-height: 1.5rem;
  text-align: center;
  margin: 0 0 0 0;
}

@media only screen and (max-width: 600px) {
  .philosophy-title{ 
  display: block;
  font-size: 3.5vw;
  padding-top:10%;
  } 
}



.philosophy-subsubtitle{
  display: block;
  font-family: "Futura",sans-serif;
  color: #56260B;
  font-size: 1vw;
  line-height: 1.2rem;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .philosophy-subsubtitle{ 
    font-size: 3vw;
    text-decoration: underline;
    margin: auto;
    padding-top: 10%;
  } 
}

.philosophy-text{
  display: block;
  font-family: "Futura",sans-serif;
  color: rgba(86, 38, 11, 0.605);
  font-size: 0.9vw;
  line-height: 1rem;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .philosophy-text{ 
    font-size: 3vw;
    text-align: justify;
  } 
}


/*PRODUCTOS EN LA HOME*/

.home-text{
  display: block;
  font-family: "Futura",sans-serif;
  color: #56260B;
  font-size: 2vw;
  line-height: 1.5rem;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
  text-decoration: underline
}

@media only screen and (max-width: 600px) {
  .home-text{ 
    font-size: 4vw;
    padding-bottom: 5%;
  } 
}



/*PRODUCTOS*/

.vista{
  margin: 30px 0 0 0;
}


.cards{
  width: 80%;
  height: auto;
  margin: auto;
  display: block;
  margin-bottom: 18px!important;
  box-sizing: border-box;
}
@media only screen and (max-width: 600px) {
  .cards{ 
    width: 95%;
    height: 110%;
  } 
}



.product-card{
  
  width: 100%;
  margin-top: 5%;
  columns: 15px 2;
  text-align: left; 
  display: block;
}

@media only screen and (max-width: 600px) {
  .product-card{ 
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
  } 
}

.product-text{
  display: block;
  font-family: "Futura",sans-serif;
  color: #56260B;
  font-size: 1.1vw;
  line-height: 1.5rem;
  text-align: left; 
  margin: 0 0 0 -200px;
}
@media only screen and (max-width: 600px) {
  .product-text{ 
    font-size: 3vw;
    line-height: 0.75rem;
    margin-top:-10%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  } 
}

.photo-column{
  display: inline-block;
  column-width: auto;
}
@media only screen and (max-width: 600px) {
  .photo-column{ 
    width: 80%;
    height: auto;
    margin: 0 -35px 0 0;
    border:  0 -35px 0 0;
  } 
}
.product-photo{
  display: inline;
  width: 40%;
  height: auto;
  margin: 0 0 0 15px;
}
@media only screen and (max-width: 600px) {
  .product-photo{ 
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  } 
}

.product-short{
  display: block;
  font-family: "Futura",sans-serif;
  color: #56260B;
  line-height: 1.5rem;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .product-short{ 
    font-size: 1vw;
    margin: 1%
  } 
}

@media only screen and (max-width: 600px) {
  .product-long{ 
    text-align: left;
  } 
}



.product-h5{
  font-size: 1.6vw;
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .product-h5{ 
    font-size: 4.5vw;
    font-weight: normal;
    
  } 
}

.product-short:hover{
  display: block;
  font-family: "Futura",sans-serif;
  color: rgba(86, 38, 11, 0.5);
  font-size: 16px;
  text-decoration: none;
  line-height: 1.5rem;
  text-align: left;
}


.product-price{
  display: block;
}

@media only screen and (max-width: 600px) {
  .product-price{ 
    font-size: 3vw;
    margin-top: -10%;
    margin-bottom: -1%;
  } 
}

.product-long{
  display: block;
}


/*LOGIN AND REGISTER*/

.register-button{
    background-color: #56260B;;
    padding: 10px 24px;
    border-radius: 4px;
    border: 2px solid #56260B;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    color: white;
    
}
.register-button:hover {
    background-color: white;
    color: #56260B;
}


.login-button{
  background-color: #56260B;
  padding: 10px 24px;
  border-radius: 4px;
  border: 2px solid #56260B;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  color: white;
}
.login-button:hover {
  background-color: white;
  color: #56260B;
}


/*FOOTER*/

.footer{
  columns: 100px 3;
  text-align: center;
  background-color: rgb(86,38,11,1);
  color: white;
  padding-top: 2%;
  padding-bottom:4%;
}

@media only screen and (max-width: 600px) {
  .footer{ 
  padding-top: 5%;
  padding-bottom:7%;
  } 
}


.footer-firt-column{
  display: flex;
  flex-direction: column;
  align-items: center;

}
@media only screen and (max-width: 600px) {
  .footer-firt-column{ 
    
    margin-top:-10%;
  } 
}



.footer-second-column{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin:auto;
  padding: auto;
  
}
@media only screen and (max-width: 600px) {
  .footer-second-column{ 
    margin:auto;
    
  } 
}


.footer-third-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
@media only screen and (max-width: 600px) {
  .footer-third-column{ 
  } 
}


.footer-title{
  font-family: "Futura",sans-serif;
  font-size:2vw;
}
@media only screen and (max-width: 600px) {
  .footer-title{ 
    font-size:2.5vw;
  } 
}

.footer-text{
  
  font-family: "Futura",sans-serif;
  font-size:1vw;
}
@media only screen and (max-width: 600px) {
  .footer-text{ 
    font-size:2vw;
  } 
}

.footer-logo{
  
  width: 20%;
  height: auto;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .footer-logo{ 
    margin: auto;
    width: 30%;
  } 
}

.social-block{

}

.social-img{
  max-width: 10%;
  height: auto;
  margin-left:5%;
  margin-right:5%;
  margin-top:2%;
}


/*TIENDAS*/

.tienda-rows{
  columns: 100px 2;
  text-align: center;
}

.texto{
  font-family: "Futura",sans-serif;
  color: #56260B;
  font-weight: normal ;
  text-decoration:none;
  font-size: 1.3vw;
  line-height: 1.5rem;
  text-align: left;
  display: flex;
  justify-content :space-around;
}

.tienda-title{
  font-size: 2.5vw;
  margin: 35px 0 ;
  text-transform: uppercase;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .tienda-title{ 
    font-size: 4.5vw;
    margin: 15px 0 -15px 0;
  } 
}

.tienda-parrafo{
  font-size: 1.3vw;
  margin: 30px 0 ;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .tienda-parrafo{ 
    font-size: 3vw;
    margin: 15px;
  } 
}

.tienda-image{
  width:80%;
  height: auto;
}
@media only screen and (max-width: 600px) {
  .tienda-image{ 
   
    width:80%;
    height: auto;
  } 
}


.shop-box{
  margin: 15px 0 0 0;
  padding: 0px;
  

}

.shop-title{
  font-size: 2vw;
  text-decoration: underline;
} 
@media only screen and (max-width: 600px) {
  .shop-title{ 
    font-size: 4vw;
    line-height: 1.5rem;
  } 
}

.shop-text{

}

@media only screen and (max-width: 600px) {
  .shop-text{ 
    font-size: 3.5vw;
    line-height: 0rem;
  } 
}

